<div class="app-container">
    <header>
      <button (click)="logout()" class="btn-logout">Cerrar Sesión</button>
      <h1 (click)="refreshPage()">Game Player</h1>
      <div class="header-buttons">
        <button routerLink="/upload" class="btn-upload">Subir Juego</button>
      </div>
    </header>
    <!--
    <form (ngSubmit)="searchGames()" [formGroup]="searchForm" class="form-inline mb-3">
      <div class="form-group mr-2">
        <label for="searchQuery" class="sr-only"></label>
        <input type="text" class="form-control" id="searchQuery" placeholder="Buscar juegos" formControlName="searchQuery">
      </div>
      <button type="submit" class="btn btn-primary">Buscar</button>
    </form>-->
  
    <ul class="game-list">
      <li *ngFor="let game of displayedGames" class="game-item">
        <div class="game-content">
          <div class="game-thumbnail">
            <img [src]="game.logoUrl" alt="Game Thumbnail">
          </div>
          <div class="game-details">
            <div class="game-name">{{ game.name }}</div>
            <div class="game-description">Nombre: {{ game.description }}</div>
            <div class="game-description">Precio: {{ game.price }}</div>
            <div class="game-description">Cantidad: {{ game.quantity }}</div>
            <!--<div class="game-description">Fecha: {{ game.date }}</div>-->
          </div>
        </div>
        <div class="game-buttons">
          <!-- Lógica para reproducir un juego, si es necesario -->
          <button (click)="editGame(game)" class="btn btn-primary btn-edit">Editar</button>
          <button (click)="deleteGame(game)" class="btn btn-danger btn-delete">Eliminar</button>
        </div>
      </li>
    </ul>
    <footer>
      <p>Game Player</p>
    </footer>
  </div>
  