<div class="app-container mt-4">
    <h2 class="register-title">Registrarse</h2>
    <form (ngSubmit)="register()" [formGroup]="registerForm" class="register-form">
      <div class="form-group">
        <label for="username">Nombre de Usuario:</label>
        <input type="text" class="form-control" formControlName="username" required>
        <div *ngIf="registerForm.get('username')?.hasError('required') && (registerForm.get('username')?.touched || registerForm.get('username')?.dirty)">
          El nombre de usuario es requerido.
        </div>
      </div>
      <div class="form-group">
        <label for="password">Contraseña:</label>
        <input type="password" class="form-control" formControlName="password" required>
        <div *ngIf="registerForm.get('password')?.hasError('required') && (registerForm.get('password')?.touched || registerForm.get('password')?.dirty)">
          La contraseña es requerida.
        </div>
        <div *ngIf="registerForm.get('password')?.hasError('minlength') && registerForm.get('password')?.touched">
          La contraseña debe tener al menos {{ passwordMinLength }} caracteres.
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Registrar</button>
    </form>
  </div>
  