.app-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.register-title {
    color: #1a237e; /* Cambia "your-desired-color" al color que desees para el título */
    margin-bottom: 20px;
    font-size: 2em;
    text-transform: uppercase;
}

.register-form {
    background: #e8eaf6; /* Cambia "your-desired-color" al color que desees para el fondo del formulario */
    color: #1a237e; /* Cambia "your-desired-color" al color que desees para el texto del formulario */
    border-radius: 10px;
    max-width: 400px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #1a237e; /* Cambia "your-desired-color" al color que desees para el color de la etiqueta */
    font-weight: bold;
}

.form-control {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #1a237e; /* Cambia "your-desired-color" al color que desees para el borde */
    border-radius: 5px;
    outline: none;
    box-sizing: border-box;
}

.form-group div {
    color: #d32f2f; /* Cambia "your-desired-color" al color que desees para el texto de error */
    margin-top: 5px;
}

.btn-primary {
    background: #1a237e; /* Cambia "your-desired-color" al color que desees para el fondo del botón */
    color: #fff; /* Cambia "your-desired-color" al color que desees para el texto del botón */
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

.btn-primary:hover {
    background: #3949ab; /* Cambia "your-hover-color" al color que desees al pasar el mouse sobre el botón */
    color: #fff;
    transform: scale(1.03);
}
