/* upload.component.css */

.app-container {
    max-width: 600px;
    margin: 0 auto;
  }
  
  .upload-form {
    margin-top: 20px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .title-form-group {
    width: 100%;
  }
  
  .artist-form-group,
  .price-form-group,
  .quantity-form-group,
  .date-form-group,
  .logo-form-group {
    width: 100%;
  }
  
  .btn {
    margin-top: 10px;
  }
  
  .custom-btn {
    margin-left: 10px;
  }
  
  /* Add more styles as needed */
  