/* Estilos generales para el contenedor principal */
.app-container::before {
    content: "";
    background: url('https://images.alphacoders.com/133/1330313.png') no-repeat center center fixed;
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Estilos compartidos para texto con sombra */
.app-container h2,
.app-container label,
.app-container input,
.app-container button,
.app-container .btn-volver,
.app-container .custom-btn {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

/* Estilos para el título en español */
.app-container h2 {
    text-align: center;
    color: #ff3399;
    margin-bottom: 20px;
    font-size: 2.5em;
    text-transform: uppercase;
    letter-spacing: 2px;
}

/* Estilos compartidos para el formulario de carga */
.app-container .upload-form {
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    border-radius: 10px;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
}

/* Estilos compartidos para etiquetas de entrada */
.app-container label {
    display: block;
    margin-top: 10px;
    color: #ff3399;
    font-weight: bold;
}

/* Estilos compartidos para campos de entrada de texto y de archivo */
.app-container input[type="text"],
.app-container input[type="file"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ff3399;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    border-radius: 5px;
    outline: none;
    box-sizing: border-box;
}

/* Estilos compartidos para botones de carga y volver */
.app-container button,
.app-container .btn-volver,
.app-container .custom-btn {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 10px;
    margin-right: 10px; /* Nuevo margen derecho */
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

/* Estilos para botones de carga y volver específicos */
.app-container button,
.app-container .btn-volver {
    background: #ff3399;
    color: #fff;
    text-decoration: none;
}

.app-container .custom-btn {
    background: #ed9a25; /* Cambia "your-desired-color" al color que desees para el botón de volver */
    color: #fff;
    text-decoration: none;
}

/* Estilos al pasar el mouse sobre los botones de carga y volver */
.app-container button:hover,
.app-container .btn-volver:hover,
.app-container .custom-btn:hover {
    transform: scale(1.03);
}

.app-container button:hover,
.app-container .btn-volver:hover {
    background: #ff4d99;
}

.app-container .custom-btn:hover {
    background: #ff6e4d; /* Cambia "your-hover-color" al color que desees al pasar el mouse sobre el botón de volver */
}
